* {
  box-sizing: border-box;
}

/* ------------------------------------------------------------------------ */
/* --------------------------------- MAIN --------------------------------- */
/* ------------------------------------------------------------------------ */
/* --- MAIN */
/* ----------------- SECTION PHOTOGRAPH PROFILE ----------------- */
/* -------------------------------------------------------------- */

.photograph-header {
  background-color: #fafafa;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Container for identity photographer */

.identity {
  text-align: left;
  width: 40%;
}
.identity h1 {
  color: #d3573c;
  font-size: 2.6rem;
  font-weight: lighter;
  margin: 0;
}

/* Button contact */

.contact_button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* Image of photographer  */

.photograph-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/* --- MAIN */
/* ----------------- SECTION PHOTOGRAPH GALLERY ----------------- */
/* -------------------------------------------------------------- */

/* Form for sorting filter  */

.photograph-gallery {
  font-size: 1rem;
}
.gallery-sorting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.gallery-sorting label {
  width: fit-content;
  margin-right: 0.5rem;
  font-size: 1rem;
}
.gallery-sorting #sorting-label {
  background-color: #901c1c;
  color: #fafafa;
  font-family: "DM Sans", sans-serif;
  font-size: 0.8rem;
  padding: 0.4rem;
  border: none;
  border-radius: 4px;
}

/* Gallery container */

.gallery-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-cards figure {
  margin: 0;
  width: 30%;
  margin-bottom: 20px;
}
.gallery-cards figure img:hover {
  box-shadow: 0px 1px 10px rgba(3, 3, 3, 0.6);
}

.gallery-cards figure:hover .gallery-cards figure img {
  box-shadow: 0px 1px 10px rgba(3, 3, 3, 0.6);
}
.gallery-cards figure img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 220px;
  border-radius: 5px;
  cursor: pointer;
}
.gallery-cards figure figcaption {
  display: flex;
  color: #901c1c;
  justify-content: space-between;
}
figcaption p {
  margin: 0;
}
figcaption a {
  color: black;
  cursor: pointer;
}
figcaption p span:nth-child(1) {
  color: black;
}
figcaption a span:nth-child(1).number-likes {
  color: #901c1c;
}
figcaption a span:nth-child(2) {
  color: #901c1c;
  font-family: "Font Awesome 5 Free";
}

/* --- MAIN */
/* --------------------- ASIDE COUNTER LIKES -------------------- */
/* -------------------------------------------------------------- */

aside {
  position: fixed;
  bottom: 0;
  right: 2%;
  background-color: #db8876;
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}
aside p {
  margin: 0;
}

/* ------------------------------------------------------------------------ */
/* -------------------------------- MODALES ------------------------------- */
/* ------------------------------------------------------------------------ */

#contact_modal,
.lightbox_modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  overflow: auto;
  top: 0;
  left: 0;
  background: white;
}

/* --- MODALES */
/* ---------------------- LIGHTBOX GALLERY ---------------------- */
/* -------------------------------------------------------------- */

.lightbox_card {
  position: relative;
  width: 90%;
  height: 600px;
  margin: 0 auto;
  margin-top: 1rem;
  background: white;
}
.lightbox_card--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.lightbox_card--active {
  z-index: 200;
}
.lightbox_card a {
  display: block;
  width: fit-content;
  text-align: center;
  color: #901c1c;
  font-size: 1.9rem;
  padding: 25px;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.lightbox_card button {
  position: absolute;
  top: 2rem;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  border: none;
  background: none;
}
.lightbox_card button img {
  width: 1.2rem;
  height: 1.2rem;
}

.lightbox_card figure {
  width: fit-content;
  margin: 0 1%;
  background-color: white;
}

.lightbox_card figure picture img {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 3px;
}

.lightbox_card figure video {
  max-width: 889px;
  max-height: 500px;
}

.lightbox_card figure video::cue {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  color: white;
}
.lightbox_card figure figcaption {
  color: #901c1c;
}

/* --- MODALES */
/* ------------------------ CONTACT FORM ------------------------ */
/* -------------------------------------------------------------- */

.modal {
  border-radius: 5px;
  background-color: #db8876;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  width: 50%;
  min-height: 300px;
  margin: 3% auto;
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  overflow: hidden;
}

.modal:focus {
  border: none;
  outline: 2px dotted #db8876;
  outline-offset: 10px;
}

.modal header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  width: 25px;
  margin-top: 20px;
}
.modal header img:focus {
  border: none;
  outline: 2px solid #901c1c;
  outline-offset: 5px;
}

.modal header h2 {
  margin: 0;
  height: fit-content;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: left;
}
.modal header h2:focus {
  border: none;
  outline: 2px solid #901c1c;
  outline-offset: 5px;
}

.modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

.modal form label {
  color: #312e2e;
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.modal form label:focus {
  border: none;
  outline: 2px solid #901c1c;
  outline-offset: 5px;
}

.modal form div#form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

.modal form input {
  font-family: "DM Sans", sans-serif;
  font-size: 0.8rem;
  padding: 10px;
  width: 100%;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-bottom: 2px;
}

.modal form input:focus {
  border: 2px solid #901c1c;
}
.modal form textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 0.8rem;
  padding: 10px;
  width: 100%;
  resize: none;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-bottom: 25px;
}
.modal form textarea:focus {
  border: 2px solid #901c1c;
}
.modal .error-data {
  font-size: 0.8rem;
  margin-bottom: 2px;
  font-style: italic;
}
.modal #message-submit {
  color: white;
  margin-top: 50px;
}
.modal #submit-button {
  width: fit-content;
  padding: 10px 30px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.modal #submit-button:focus {
  border: none;
  outline: 2px solid #901c1c;
  outline-offset: 5px;
}

/* ------------------------------------------------------------------------ */
/* ---------------------------- MEDIAS QUERIES ---------------------------- */
/* ------------------------------------------------------------------------ */

@media screen and (max-width: 990px) {
  .identity h1 {
    font-size: 2.1rem;
  }
  .contact_button {
    font-size: 0.8rem;
    padding: 5px;
    width: 130px;
    height: 50px;
  }
  .photograph-header img {
    height: 170px;
    width: 170px;
  }
  .photograph-gallery {
    font-size: 0.8rem;
  }
  .gallery-sorting label {
    font-size: 0.8rem;
  }
  .gallery-sorting #sorting-label {
    font-size: 0.7rem;
  }
  .gallery-cards figure {
    width: 45%;
  }
  .modal {
    width: 70%;
  }
  .modal header h2 {
    font-size: 2rem;
  }
  .modal form label {
    font-size: 1.1rem;
  }
  aside {
    width: 100%;
    right: 0;
    font-size: 0.8rem;
  }
  .lightbox_card figure figcaption {
    font-size: 0.8rem;
  }
  .lightbox_card button img {
    width: 0.8rem;
    height: 0.8rem;
  }
  .lightbox_card figure video::cue {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 710px) {
  .photograph-header {
    height: fit-content;
    flex-direction: column;
  }
  .identity {
    text-align: center;
    width: 100%;
  }
  .identity h1 {
    font-size: 2.2rem;
  }
  .contact_button {
    margin: 50px 0px;
    width: 150px;
  }
  .photograph-header img {
    height: 220px;
    width: 220px;
  }
  .gallery-cards {
    flex-direction: column;
  }
  .gallery-cards figure {
    width: 100%;
  }
  .gallery-cards figure img {
    height: 270px;
  }
  .modal {
    width: 100%;
    margin: 0 auto;
  }
  .modal header {
    margin: 0;
    flex-direction: row;
  }
  .modal form label {
    font-size: 1rem;
  }
  .modal form input {
    height: 45px;
  }
  .modal .error-data {
    font-size: 0.6rem;
  }
  .lightbox_card {
    width: 98%;
  }
  .lightbox_card figure video::cue {
    font-size: 0.5rem;
  }
}
