* {
  box-sizing: border-box;
}
#contact_modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  overflow: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* -------------- Section Photograph-header --------------- */
.photograph-header {
  background-color: #fafafa;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Container for identity photographer */
.identity {
  text-align: left;
  width: 30%;
}
.identity h1 {
  color: #d3573c;
  font-size: 2.6rem;
  font-weight: lighter;
  margin: 0;
}

/* Button contact */
.contact_button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* Image of photographer  */

.photograph-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
/* -------------- Section Photograph-gallery --------------- */
/* Form for sorting */
.photograph-gallery {
  font-size: 1rem;
}
.gallery-sorting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.gallery-sorting label {
  width: fit-content;
  margin-right: 0.5rem;
  font-size: 1rem;
}
.gallery-sorting #sorting-label {
  background-color: #901c1c;
  color: #fafafa;
  font-family: "DM Sans", sans-serif;
  font-size: 0.8rem;
  padding: 0.4rem;
  border: none;
  border-radius: 4px;
}
/* Gallery container */

.gallery-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-cards figure {
  margin: 0;
  width: 30%;
  margin-bottom: 20px;
}
.gallery-cards figure img:hover {
  box-shadow: 0px 1px 10px rgba(3, 3, 3, 0.6);
}
.gallery-cards figure img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 220px;
  border-radius: 5px;
  cursor: pointer;
}
.gallery-cards figure figcaption {
  display: flex;
  color: #901c1c;
  justify-content: space-between;
}
figcaption p {
  margin: 0;
}
figcaption p:nth-child(2) {
  cursor: pointer;
}
figcaption p span:nth-child(1) {
  color: black;
}
figcaption p span:nth-child(1).number-likes {
  color: #901c1c;
}
figcaption p span:nth-child(2) {
  font-family: "Font Awesome 5 Free";
}
/* --------------  Aside  --------------- */
aside {
  position: fixed;
  bottom: 0;
  right: 2%;
  background-color: #db8876;
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}
aside p {
  margin: 0;
}
/* -------------- Modale form  --------------- */

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  margin: 3% auto;
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  overflow: hidden;
}

.modal header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  width: 25px;
  margin-top: 20px;
}

.modal header h2 {
  margin: 0;
  height: fit-content;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: left;
}

.modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

.modal form label {
  color: #312e2e;
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

.modal form input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-bottom: 2px;
}
.modal form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
}

/* -------------- medias queries  --------------- */
@media screen and (max-width: 990px) {
  .identity h1 {
    font-size: 2.1rem;
  }
  .contact_button {
    font-size: 0.8rem;
    padding: 5px;
    width: 130px;
    height: 50px;
  }
  .photograph-header img {
    height: 170px;
    width: 170px;
  }
  .photograph-gallery {
    font-size: 0.8rem;
  }
  .gallery-sorting label {
    font-size: 0.8rem;
  }
  .gallery-sorting #sorting-label {
    font-size: 0.7rem;
  }
  .gallery-cards figure {
    width: 45%;
  }
  .modal {
    width: 70%;
  }
  .modal header h2 {
    font-size: 2rem;
  }
  .modal form label {
    font-size: 1.1rem;
  }
  aside {
    width: 100%;
    right: 0;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 710px) {
  .photograph-header {
    height: fit-content;
    flex-direction: column;
  }
  .identity {
    text-align: center;
    width: 100%;
  }
  .identity h1 {
    font-size: 2.2rem;
  }
  .contact_button {
    margin: 50px 0px;
    width: 150px;
  }
  .photograph-header img {
    height: 220px;
    width: 220px;
  }
  .gallery-cards {
    flex-direction: column;
  }
  .gallery-cards figure {
    width: 100%;
  }
  .gallery-cards figure img {
    height: 270px;
  }
  .modal {
    width: 100%;
    margin: 0 auto;
  }
  .modal header {
    margin: 0;
    flex-direction: row;
  }
}
