/* ************************************************************************ */
/* -------------------------------- LOADER -------------------------------- */
/* ************************************************************************ */

@keyframes anim-loader {
  0% {
    transform: rotateZ(0turn);
  }
  50% {
    transform: rotateZ(0.5turn);
  }
  100% {
    transform: rotateZ(1turn);
  }
}
.loader {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
}
.loader-img {
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-image: url(../assets/icons/favicon.png);
  background-repeat: no-repeat;
  background-position: center;
  animation: anim-loader 1800ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.icon-loader {
  animation: anim-loader 1800ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* ************************************************************************ */
/* -------------------------------- GENERAL ------------------------------- */
/* ************************************************************************ */

html {
  font-size: 16px;
}
body {
  font-family: "DM Sans", sans-serif;
  margin: 0 5%;
}
p {
  margin: 5px 0px 2px 0px;
}

a {
  text-decoration: none;
}

/* FOCUS  */

.page-elements_focus {
  border: none;
  outline: 2px solid #db8876;
  outline-offset: 1px;
}
.page-elements_focus--light {
  border: 1px dotted #db8876;
  outline: none;
}

/* ************************************************************************ */
/* -------------------------------- HEADER -------------------------------- */
/* ************************************************************************ */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header h1 {
  color: #901c1c;
  font-size: 2rem;
  text-align: center;
}

/* ************************************************************************ */
/* --------------------------------- MAIN --------------------------------- */
/* ************************************************************************ */

main {
  padding-bottom: 50px;
  width: 100%;
  margin-top: 40px;
}

.a_photographer {
  display: block;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 100%;
}
.a_photographer:hover img {
  box-shadow: 0px 1px 10px rgba(3, 3, 3, 0.6);
}
.logo {
  height: 50px;
}

.photographer_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-bottom: 40px;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 2.2rem;
  font-weight: lighter;
  margin: 30px 10px 0px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  visibility: visible;
  border-radius: 50%;
}

.p_localisation {
  color: #d3573c;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  margin-top: 5px;
}

.p_tagline {
  font-size: 0.8rem;
  font-weight: bold;
}

.p_price {
  font-size: 0.7rem;
  font-weight: lighter;
}
/* ************************************************************************ */
/* ---------------------------- MEDIAS QUERIES ---------------------------- */
/* ************************************************************************ */

@media screen and (max-width: 990px) {
  html {
    font-size: 20px;
  }
  header h1 {
    font-size: 1.6rem;
  }
  .photographer_section article {
    width: 45%;
  }
}

@media screen and (max-width: 710px) {
  html {
    font-size: 22px;
  }
  header {
    margin-top: 30px;
    height: fit-content;
    flex-direction: column;
  }
  .logo {
    height: 60px;
  }
  header h1 {
    margin: 0;
  }
  .photographer_section article {
    width: 100%;
  }
}
